* {
    margin: 0;
    padding: 0;
}
html,
/*
body {
    height: 100%;
    padding: 10px;
}
*/
.content {
    display: table-row;
    height: 100%;
}

html, body {
    height: 100%;
}

#wrap {
    min-height: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
}

.footer {
    position: relative;
    background-color: #222;
    color: #f9aa34;
    padding: 5px;

    position: relative;
    margin-top: 0; /* negative value of footer height */
    height: 150px;
    clear: both;
    padding-top: 0;
}

.wrapper {
    display: table;
    height: 100%;
}

.content {
    display: table-row;
    height: 100%;
}



div.header{
    background-color: blue;
    height: 100px;
    color:white;
}

.header-content{
    padding: 10px;
}
.enter-menu{
    float: right;
    list-style: none;
}

.enter-menu a{
    color:gold;
}

input.au-button{
    background-color: #b5b5b5;
    color: white;
    width: 40%;
    height: 35px;
}

.title2 {
    color: #f9aa34;
    font-size: 25px;
    line-height: 40px;
    font-weight: bold;
    text-align: center;
}

.red{
    color: red;
}
.green{
    color: green;
}

body {
    height:100%;
    position:relative;
}
.container {
    width: 99%;
    padding-top: 10px;
    overflow:auto;
    /*padding-bottom:150px; *//* this needs to be bigger than footer height*/
}

.navbar-inverse .navbar-brand{
    color: #f9aa34;
}
